*{
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
}
.th, td {
   padding: 15px;
}
.container {
    margin: 150px auto;
    margin-left: 150px;
    font-style: normal;
    font-weight: 500px;
    font-size: 15px;
    border: 1px;
    border-color: #DADADA;
}
.edit{
    background-color: yellow;
}
.container-1{
    background-color: #DADADA;
}
.yellow {
    border-radius: 10px;
    background-color: yellow;
    width: 115px;
    height: 36px;
    font-size: 15px;
    font-weight: 500px;
}
.red {
    border-radius: 10px;
    background-color: #E84949;
    width: 115px;
    height: 36px;
    font-size: 15px;
    color: white;
}
h3{
    font-size: 25px;
    font-weight: 700px;
}